body {
    background-color: black;
    color: white;
}

.card-destacada{
    background-color: #17a3b8;
    color: white;
    border: white;
    border-style: solid;
}

.footer-enlaces{
    color: white;
    background: #17a3b8;
}
