body {
    background-color: black;
    color: white;
}

.card-destacada{
    background-color: #17a3b8;
    color: white;
    border: white;
    border-style: solid;
}

.footer-enlaces{
    color: white;
    background: #17a3b8;
}

.carousel-indicators {
    top : 50px ;
    }
    .carousel-indicators li {
    width : 10px ;
    height : 10px ;
    border-radius : 50% ;
    }
